@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
nav{
    width: 1200;
    height: 70px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    display: flex;
}
.icon img{
    width: 86.041px;
    height: 50px;
    
}
.icon p{
    font-weight: 700;
    margin-left: 2px;
}
span{
    color: #FF42A5;
}
.nav-1 ul{
    display: flex;
    align-items: center;

      
}
.nav-1, .jahidul, .nav-2,.nav-3, li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
.nav-1, .jahidul,.nav-3, li a{
    text-decoration: none;
    color: #424242;
}
.login-btn{
    background-color: rgba(11, 2, 35, 0.10);
    padding: 5px 40px;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.login-btn img{
    height:20px ;
    width: 20px;
}
.one{
    width: auto;
    height:600px;
    display: flex;
    
}
.header-text{
    width: 600px;
    height: 550px;
    text-align: center;
    background-image: url(./images/Group14.png);
    padding-top: 100px;
}
.header-text h1{
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.header-text p{
    font-size: 10px;
    color: #534C64;
}
.btn-1{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FF42A5;
}
.btn-5{
    gap: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #4EC5F7;

}
.header-img img{
    width: 600px;
    height: 550px;
}
.head-1{
    text-align: center;
}
.head-img{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.card img{
    width:180px;
    height: 220px;
}
.card-title{
    width:180px;
    height: auto;
    
}
.three{
    display: flex;
    gap:10px ;
    width:1200px;
    height: 720px;
    justify-content: center;
}
.mark-text{
    max-width: 400px;
    text-align: right;
    margin-top: 100px;
}
.feature-img img{
    height: 70%;
    margin-left: 0px;
}
.years-batch{
    border-radius: 8px;
    width: 342px;
    position: relative;
    bottom: 300px;
}
footer{
    margin-top: 40px;
    background-color: #9977f7;
    height: 350px;
    width: auto;
}
.game{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;

}
.game>h1{
    font-weight: 800;
}

.nav-2 ul {
    display: flex;
}
.nav-3 ul {
    display: flex;
}
.jihad{
    display: flex;
    justify-content: center;
}
.footer-icon{
   display: flex;
   justify-content: center;
   gap: 40px;
   
}
.footer-icon1{
    display: flex;
    gap: 40px;
   
}
.footer-icon2{
    display: flex;
    gap: 40px;
    
}

.jahidul{ 
    display: flex;
    justify-content: center;
}
.last{
    text-align: center;
}
.card-1{
    
    height: 70px ;
    width: 200px;
    border-radius: 40px;
    display: flex;
    padding: 1.5px;

}
.card-1:hover{
    border: 1px solid red;
    color: red;
}

.card-extra{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
@media screen and (max-width: 426px) {
    nav, .nav-1 ul, .head-img, .jihad, .jahidul, .footer-icon, .three{
        flex-direction: column;
        justify-content: center;
    }
    .one{
        flex-direction: column-reverse;
    }
    nav, .one{
        height: auto;
        width: 425px;
        margin-top: 20px;
        align-items: center;
        
    }
    .card img,.card-title{
        height: auto;
        width: auto;
    }
    .nav-1 ul{
        gap: 20px;
    }
    .feature-img img {
        height: 50%;
        width: 37%
    }
    .years-batch{
        border-radius: 8px;
        width: 342px;
        position: relative;
        bottom: 115px;   
    }
    .card-1{
        height: 70px ;
        width: 150px;
        border-radius: 40px;
        display: flex;
        padding: 1.5px;
    }
    .card-extra{
        margin-top: 10px;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
    }
    .game{
        justify-content: center;
    }
    footer{
        margin-top: 40px;
        background-color: #9977f7;
        height: auto;
        width: auto;
    }
    .footer-icon1, .footer-icon2{
        justify-content: center;
    }
    .header-img img{
        height: auto;
        width: auto;
    }

    };
    
